<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILocal">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://203.237.140.225:22222/LocalService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocal"
                contract="ServiceReference.ILocal" name="WSHttpBinding_ILocal" />
        </client>
    </system.serviceModel>
</configuration>
